.floating-button {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  bottom: 50%;
  right: 0;
  background-color: #c71a41;
  color: #fff;
  font-size: 17px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 9999;
  transform: translateY(50%) rotate(0);
  transform-origin: right center;
  writing-mode: tb-rl;
  padding: 25px 13px;
  transition: all ease-in 0.35s;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
}
.floating-button:hover {
  background-color: #bbb;
  color: #000;
}
.floating-button a:hover {
  color: #000;
}

.floating-button.show {
  visibility: visible;
  transition: all ease-in 0.5s;
  opacity: 1;
}

.float_btn.show {
  opacity: 1;
  visibility: visible;
}

.mobile_show {
  display: none;
}
.float_btn {
  background: #c71a41;
  bottom: 0;
  opacity: 0;
  position: fixed;
  transition: all 0.8s ease;
  width: 100%;
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
}
.float_btn a {
  padding: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.float_btn a:first-child {
  border-right: 1px solid #fff;
}
.float_btn a:hover {
  color: #000;
}
.float_btn img,
.float_btn svg {
  aspect-ratio: 1;
}

.float_btn a {
  color: #fff;
  float: left;
  font-size: 17px;
  font-style: inherit;
  font-weight: 700;
  gap: 10px;
  letter-spacing: 2px;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
}

@media (max-width: 680px) {
  .mobile_show {
    display: flex !important;
  }
  .desktop-show {
    display: none;
  }
}
